<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>alfred.displayplacer</string>
	<key>connections</key>
	<dict>
		<key>087BFE2C-5B47-4FB0-99BC-663F99585F49</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3744CB84-A122-463B-9A5C-FC884ABD99BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>1184FAEB-5F1F-4AC9-B066-2485571C05F2</key>
		<array/>
		<key>3744CB84-A122-463B-9A5C-FC884ABD99BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E5355729-93D1-4B6F-8E63-3EF3DD426356</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3820EAC8-81C2-429E-8324-9D57F8B3E55A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE1ACEB1-C9B4-45CB-8079-9BCA528FD4A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>40EA3048-76C0-40BA-A345-99E37C2D0862</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1184FAEB-5F1F-4AC9-B066-2485571C05F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>64E62F06-5C50-412C-8372-FF66D9BBA50D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B367845-698E-4BB4-BFB0-470B12B65BB8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7B8CE112-4C8F-4C48-8517-1D150594CB48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB6203D8-B952-4B80-A815-829CA55D930C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>88710744-CACA-47A0-AA0B-3E2003EC0D73</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7B8CE112-4C8F-4C48-8517-1D150594CB48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>99DF2A55-BA58-410C-BCAC-2CAEF5CC6AE5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EFF3FC62-4175-4B87-9F19-FFB0C49EA7A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BB6203D8-B952-4B80-A815-829CA55D930C</key>
		<array/>
		<key>CA4196E3-5204-4096-9AF7-26491551C3EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>15527FBB-A2D2-4BD9-A79E-F6BA3FE34CF0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CE1ACEB1-C9B4-45CB-8079-9BCA528FD4A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1184FAEB-5F1F-4AC9-B066-2485571C05F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>40EA3048-76C0-40BA-A345-99E37C2D0862</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D1A2D91E-7CD2-4695-89A8-C79EA39BA6E0</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>64E62F06-5C50-412C-8372-FF66D9BBA50D</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D1A2D91E-7CD2-4695-89A8-C79EA39BA6E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E368FD0-E38A-4906-9583-013BFDE3AC66</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D3CDA47A-8BF9-43A5-AC13-74A6CA1FE53E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA4196E3-5204-4096-9AF7-26491551C3EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D9287B8B-8F85-4AC6-8867-35DA9D33AF13</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3744CB84-A122-463B-9A5C-FC884ABD99BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E5355729-93D1-4B6F-8E63-3EF3DD426356</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F7E7AB09-744F-4CA5-BDEF-AFEF8398EC38</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F077BEFF-09F3-4AA0-A256-BA78C0B9DCDC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C4F51E76-DD1B-4D10-8AB8-12530ECA4886</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EFF3FC62-4175-4B87-9F19-FFB0C49EA7A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D3CDA47A-8BF9-43A5-AC13-74A6CA1FE53E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F7E7AB09-744F-4CA5-BDEF-AFEF8398EC38</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7B8CE112-4C8F-4C48-8517-1D150594CB48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>3A1BB88C-FC97-42D3-91D2-85DD7DD17089</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>88710744-CACA-47A0-AA0B-3E2003EC0D73</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>odapg</string>
	<key>description</key>
	<string>Change the screen(s) resolution within Alfred. Save and load screens configuration.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Displayplacer</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python3 list_modes.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7B8CE112-4C8F-4C48-8517-1D150594CB48</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>displayplacer "id:$serial_id mode:$mode origin:$origin"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BB6203D8-B952-4B80-A815-829CA55D930C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>26</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>È</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D9287B8B-8F85-4AC6-8867-35DA9D33AF13</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 displayplacer_output.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3744CB84-A122-463B-9A5C-FC884ABD99BC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:nb_screens}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>1</string>
						<key>outputlabel</key>
						<string>one screen</string>
						<key>uid</key>
						<string>3A1BB88C-FC97-42D3-91D2-85DD7DD17089</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>several screens</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F7E7AB09-744F-4CA5-BDEF-AFEF8398EC38</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>F077BEFF-09F3-4AA0-A256-BA78C0B9DCDC</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>error</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>E5355729-93D1-4B6F-8E63-3EF3DD426356</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python3 list_screens.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>88710744-CACA-47A0-AA0B-3E2003EC0D73</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C4F51E76-DD1B-4D10-8AB8-12530ECA4886</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:change_keyword}</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Change the screen resolution</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>087BFE2C-5B47-4FB0-99BC-663F99585F49</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 save_conf.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CA4196E3-5204-4096-9AF7-26491551C3EB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:save_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>cat &lt;&lt; EOB
{"items": [
	{
		"title": "Save the screen configuration as '$1'",
		"arg": "$1"
	}
]}
EOB</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Please enter a name for the configuration</string>
				<key>title</key>
				<string>Save the screen configuration</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EFF3FC62-4175-4B87-9F19-FFB0C49EA7A7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Current configuration saved as '{var:config_name}'</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>15527FBB-A2D2-4BD9-A79E-F6BA3FE34CF0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>23</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>(</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>99DF2A55-BA58-410C-BCAC-2CAEF5CC6AE5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>config_name</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D3CDA47A-8BF9-43A5-AC13-74A6CA1FE53E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>eval "displayplacer $command"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1184FAEB-5F1F-4AC9-B066-2485571C05F2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>22</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>§</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3820EAC8-81C2-429E-8324-9D57F8B3E55A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:load_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python3 load_conf.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Load a screen configuration</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>show_confs</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CE1ACEB1-C9B4-45CB-8079-9BCA528FD4A1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>2</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>fontsizing</key>
				<integer>0</integer>
				<key>footertext</key>
				<string>Esc to go back to the list, ↩ to apply this configuration</string>
				<key>inputfile</key>
				<string></string>
				<key>inputtype</key>
				<integer>0</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>40EA3048-76C0-40BA-A345-99E37C2D0862</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>show_confs</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>1E368FD0-E38A-4906-9583-013BFDE3AC66</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 delete_conf.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D1A2D91E-7CD2-4695-89A8-C79EA39BA6E0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 move_conf_up.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>64E62F06-5C50-412C-8372-FF66D9BBA50D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>show_confs</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>6B367845-698E-4BB4-BFB0-470B12B65BB8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Alfred displayplacer

Change the screen(s) resolution within Alfred.
Save and load screens configuration.

### Installation

1. Install displayplacer command with `brew install displayplacer`.
Since this workflow requires displayplacer v. ≥ 1.4.0, if you already have it installed, you may need to update it with `brew upgrade displayplacer`.

2. (Optional) Change the keywords in the configuration window and add hotkeys.

### Usage

- Change the resolution of your screen(s) with `dplc`.
- Save your current screen configuration (which you can modify in System Preferences &gt; Displays as well) with `dpls`.
- Load a screen configuration with `dpll`. You can remove a configuration with ⌘↩, move it up the list with ⌥↩, and get a detailed view of it with ⇧↩.

### Remark

- Some proposed resolutions may not work (in particular for the last presented modes). This is also true in command-line.

### Acknowledgements

- [displayplacer](https://github.com/jakehilborn/displayplacer) is due to [jakehilborn](https://github.com/jakehilborn)</string>
	<key>uidata</key>
	<dict>
		<key>087BFE2C-5B47-4FB0-99BC-663F99585F49</key>
		<dict>
			<key>note</key>
			<string>Call to change the screen resolution</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>1184FAEB-5F1F-4AC9-B066-2485571C05F2</key>
		<dict>
			<key>note</key>
			<string>Loads the chosen configuration</string>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>15527FBB-A2D2-4BD9-A79E-F6BA3FE34CF0</key>
		<dict>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>1E368FD0-E38A-4906-9583-013BFDE3AC66</key>
		<dict>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>715</real>
		</dict>
		<key>3744CB84-A122-463B-9A5C-FC884ABD99BC</key>
		<dict>
			<key>note</key>
			<string>Gets displayplacer output</string>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>3820EAC8-81C2-429E-8324-9D57F8B3E55A</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>40EA3048-76C0-40BA-A345-99E37C2D0862</key>
		<dict>
			<key>note</key>
			<string>Detailed config</string>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>64E62F06-5C50-412C-8372-FF66D9BBA50D</key>
		<dict>
			<key>note</key>
			<string>Moves the selected configuration up</string>
			<key>xpos</key>
			<real>425</real>
			<key>ypos</key>
			<real>870</real>
		</dict>
		<key>6B367845-698E-4BB4-BFB0-470B12B65BB8</key>
		<dict>
			<key>xpos</key>
			<real>575</real>
			<key>ypos</key>
			<real>870</real>
		</dict>
		<key>7B8CE112-4C8F-4C48-8517-1D150594CB48</key>
		<dict>
			<key>note</key>
			<string>Lists available modes</string>
			<key>xpos</key>
			<real>720</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>88710744-CACA-47A0-AA0B-3E2003EC0D73</key>
		<dict>
			<key>note</key>
			<string>Lists monitors</string>
			<key>xpos</key>
			<real>555</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>99DF2A55-BA58-410C-BCAC-2CAEF5CC6AE5</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>BB6203D8-B952-4B80-A815-829CA55D930C</key>
		<dict>
			<key>note</key>
			<string>Applies the new mode</string>
			<key>xpos</key>
			<real>890</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>C4F51E76-DD1B-4D10-8AB8-12530ECA4886</key>
		<dict>
			<key>note</key>
			<string>Error</string>
			<key>xpos</key>
			<real>405</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>CA4196E3-5204-4096-9AF7-26491551C3EB</key>
		<dict>
			<key>xpos</key>
			<real>400</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>CE1ACEB1-C9B4-45CB-8079-9BCA528FD4A1</key>
		<dict>
			<key>note</key>
			<string>Call to load a configuration</string>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>D1A2D91E-7CD2-4695-89A8-C79EA39BA6E0</key>
		<dict>
			<key>note</key>
			<string>Deletes the selected configuration</string>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>715</real>
		</dict>
		<key>D3CDA47A-8BF9-43A5-AC13-74A6CA1FE53E</key>
		<dict>
			<key>xpos</key>
			<real>335</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>D9287B8B-8F85-4AC6-8867-35DA9D33AF13</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>E5355729-93D1-4B6F-8E63-3EF3DD426356</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>EFF3FC62-4175-4B87-9F19-FFB0C49EA7A7</key>
		<dict>
			<key>note</key>
			<string>Call to save the current configuration</string>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>F7E7AB09-744F-4CA5-BDEF-AFEF8398EC38</key>
		<dict>
			<key>xpos</key>
			<real>425</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>dplc</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword to change resolution</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>change_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>dpll</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword to load a configuration</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>load_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>dpls</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword to save the current configuration</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>save_keyword</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
